{% extends 'base.html.twig' %}

{% block title %}Panier - E-Discount{% endblock %}

{% block body %}
   {% include 'header.html.twig' %}
    <div class="main-content">
        <h1>Mon panier</h1>
        <!-- Contenu à venir -->
    </div>
{% endblock %} 