{% extends 'base.html.twig' %}

{% block title %}Vendre - E-Discount{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="main-content">
        <h1>Vendre un article</h1>
        <!-- Contenu à venir -->
    </div>
{% endblock %} 