{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>Welcome to the Home Page!</h1>
    <form action="{{ path('button_action') }}" method="post">
        <button type="submit" name="action" value="action1" class="btn btn-primary">Button 1</button>
        <button type="submit" name="action" value="action2" class="btn btn-secondary">Button 2</button>
    </form>
{% endblock %}
