{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="upload-container">
        <h2>Ajouter un produit</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
